/* css bonus */


/* Immagine sfondo e logo */

body {
    margin: 0;
    background-color: rgba(137,207,240,0.2);
}

header {
    background-color: 	#E9967A;
    background-image: url(../img2/pattern.png);
    background-size: contain;
    height: 100px;
    border-bottom: 3px solid black;
}

#logo {
    width: 280px;
    height: 50px;
    padding-top: 40px;
    margin-left: 5%;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: auto;
    width: 85%;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin: 0;
    color: rgb(127,127,127);
}

#data {
    font-size: 14px;
    color: rgb(127,127,127);
    margin-bottom: 20px;
}

img {
    object-fit: cover;
    width: 48%;
}

.source {
    font-size: 12px;
}

p {
    margin: 40px 30px;
}

ul {
    margin: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
    border-collapse: collapse;
    text-align: left;
}

th {
    border: 2px solid black;
}

td {
    padding: 10px 10px 10px 5px;
    margin: auto;
    width: 10%;
    border: 2px solid black;
}

/* Colori tabella */

thead {
    color: rgb(0, 0, 0);
    background-color: #F08080;
}

.riga-colorata {
    background-color: #FFB6C1;
}

footer {
    margin: auto;
    width: 85%;
}

h4 {
    color: rgb(91, 47, 47);
    font-size: 24px;
    margin-top: 40px;
    border-top: 2px solid black;
    padding-top: 25px;
}


.immagini-finali-1 {
    background-image: url(../img2/monitor.jpg);
    width: 380px;
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;
    color: rgb(0, 186, 164);
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.immagini-finali-2 {
    background-image: url(../img2/graph.jpg);
    width: 380px;
    height: 300px;
    background-size: cover;
    color: rgb(0, 186, 164);
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
