header {
    background-color: rgb(68,160,255);
    background-image: url(../img2/pattern.png);
    background-size: contain;
    height: 160px;
}

#logo {
    width: 350px;
    height: 70px;
    padding-top: 80px;
    margin: 0;
}